body {
  background: linear-gradient(to right, #093028, #237a57);
}
.show-movies {
  display: flex;
}
.show {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header {
  text-align: center;
  color: aqua;
}
.name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: larger;
  color: azure;
  margin-bottom: 15px;
  background-color: rgba(109, 197, 171, 0.2);
  max-width: 300px;
  text-align: center;
}
.form {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}
.input {
  border: none;
  min-width: 30%;
}
.form-button {
  border: none;
  margin-left: 5px;
  padding: 0.3rem;
  background-color: rgb(95, 209, 224);
  font-weight: 600;
}
.xyz {
  color: rgb(157, 227, 230);
  font-family: "Times New Roman", Times, serif;
}
